/* Global Styles */

@font-face {
	font-family: 'VerelaRound';
	src: url('VarelaRound-Regular.eot'); /* IE9 Compat Modes */
	src: url('VarelaRound-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	   
	     url('VarelaRound-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
	     url('VarelaRound-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
	font-family: 'Lato';
	src: url('Lato-Bold.ttf'); /* IE9 Compat Modes */
}

html,
body {
  height: 100%;
  width: 100%;
  color:#7a7a7a;
  line-height:24px;
  background: url(../images/bgWhite.png) repeat;
 
}
h1, .h1, h2, .h2, h3, .h3 {
margin-top: 0px;
margin-bottom: 0;
padding: 20px 0
}
p, a{
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
img{
max-width:100%;
}
#boxWrapp{
width:100%;

margin:0 auto;
padding:0;
overflow:hidden;
}
.build{
padding:40px 0;
margin:0;
}

.build ul{
padding:0;
margin:0;
list-style:none;
position:relative;
}
.btn-clear{
border:4px solid;
}
.btn{
font-size:14px;
}
/*on scroll show*/


/* =============================== header ===================================== */
.header{
    background: url(../images/bghead.jpg) no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.myBackground.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='myBackground.jpg', sizingMethod='scale')";
}
/* slider */

.maskHeader{
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
background: url(../images/pattern.png);
}

#flex-head h1{
font-family: cursive;
font-weight:700;
font-size:60px;
margin:0;
padding:10px 0;
color:#fff;
}
#flex-head {
margin: 0 0 32px 0;
background: transparent;
border: none;
position: relative;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
-o-border-radius: 0px;
border-radius: 0px;
-webkit-box-shadow: none;
-moz-box-shadow: none;
-o-box-shadow: none;
box-shadow:none;
zoom: 1;
}
#flex-head h2{
font-family: 'VerelaRound';
font-size:24px;
margin:0;
padding:0 0 40px 0;
color:#fff;
}
#flex-head .slides > li{
position:relative;
}
#flex-head .flex-control-nav, #flex-head .flex-direction-nav{
display:none;
}

.main-caption{
width:100%;
position:absolute;
top:50%;
left:0;
transform: translate(0, -50%); 
-webkit-transform: translate(0, -50%); 
-moz-transform: translate(0, -50%); 
-ms-transform: translate(0, -50%); 
-o-transform: translate(0, -50%); 
text-align:center;
}

.btnAbout{
color:#fff;
font-size:14px;
}

.btnAbout:hover{
 color:#fff;   
}
.main-caption .btn-clear{
padding:14px 24px;
}

.main-caption .btn-clear:hover{
border-color:#fff;
}

/* ==============================================================  Menu ======================================================= */
.main-nav{
position:fixed;
top:0;
display:none;
width: 100%;
min-height: 54px;
z-index:99;
}

.navbar {
border-radius: 0px;
min-height: 54px;
margin-bottom: 0px;
width: 100%;
z-index:99;
border:none;
}
a.navbar-brand {
float: left;
height: inherit;
padding: 3px 15px;
font-size: 18px;
line-height: 48px;
color:#fff;
}
.navbar-inverse .navbar-brand {
color:#fff;
}
.navbar-nav > li > a {
padding-top: 16px;
padding-bottom: 13px;
border-bottom:5px solid transparent;
font-size:14px;
text-transform:uppercase;
}

.navbar-inverse .navbar-nav > li > a {
color: #fff;
}
.navbar-inverse .navbar-nav > li.current > a {
text-decoration:none;
}
.navbar-nav > li.current > a, .navbar-inverse .navbar-nav > li > a:hover{
background:rgba(255,255,255,0.1);
}

/* ========================================= title page ==================================== */

.title-page{
color:#7a7a7a;
}
.title-page h2{
position: relative;
margin: 0 ;
z-index: 77;
padding: 0 0 20px 0;
font-size:36px;
font-weight:600;
font-famiily:'Lato';
}
.line-title{
width: 40px;
height: 8px;
margin: 0 auto;
}

/* Full Page Image Header Area */

.header {
  position: relative;
 
}
.linear{
 transition:all 200ms linear;   
 -webkit-transition:all 200ms linear;   
 -moz-transition:all 200ms linear;   
 -ms-transition:all 200ms linear;   
 -o-transition:all 200ms linear;   
}
/* Intro */

.page{
  padding: 40px 0;
  position:relative;
  border-bottom:5px solid #dedede;
}
.page:last-of-type{
border-bottom:none;
padding:120px 0;
}
.page-bgcolor{
background:#f2f2f2;
}
/* ================================================= about us ================================================== */
.about-content {
text-align: center;
}
.about-content p{
font-size:18px;
padding-bottom:20px;
margin:0;

}

.avatar img{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.main-about img{
margin-right:20px;
}
.main-about .btn-clear{
padding: 14px 24px;
}
.main-about .btn-clear:hover{
color:#fff;
}
.col-md-9 {
width:100%;
}
	/*==================progress========================*/
.progress {
height:9px;
background-color: #dadfe1;
border-radius: 0px;
-webkit-box-shadow: none;
box-shadow: none;
clear: both;
margin: 6px 0 16px 0;
overflow: inherit;
}
.progress-bar{
position:relative;
 transition:all 200ms linear !important;   
 -webkit-transition:all 200ms linear !important;   
 -moz-transition:all 200ms linear !important;   
 -ms-transition:all 200ms linear !important;   
 -o-transition:all 200ms linear !important;   
}
.wrapp-progress{
position:relative;  
padding-top: 24px;
}
.wrapp-progress p{
font-size:14px;
font-family: 'Lato', sans-serif;  
color:#444444;  
font-weight:bold;
margin:0;
padding:0;
line-height:24px;
position:absolute;
left:0;
top: 0px;
}

.precent-value{
 color:#fff;  
font-size:12px;
line-height:24px;
position:absolute;
right: -25px;
top: -30px;
height: 24px;
width: 50px;
background: #1d1d1d;
border-radius: 3px;
font-family: 'VerelaRound';
}
.progress-bar i{
font-size:24px;
color:#1d1d1d;
position:absolute;
right: -7px;
top: -16px;
}
.progress {
clear: both;
}

/* ============================================== Portfolio ================================================================= */
ul#filterOptions{
margin: 0;
padding: 40px 0 0 0;
list-style: none;
display: table; 
}

ul#filterOptions li{
 float:left;
margin-right: -1px;
}
ul#filterOptions li span{
padding: 10px 12px;
display: block;  
color:#c4c4c4;  
padding:0 10px;
font-family: 'VerelaRound';
}
ul#filterOptions li a{
color:#c4c4c4;  
font-size:18px;
padding:0;
}
ul#filterOptions li.cur a:hover{
 color:#1d2127;   
}
ul#filterOptions li a:hover{
 text-decoration:none;  
}
.folio-content{
height:auto;
}
ul.container_folio{
overflow:hidden;

}
ul.container_folio li.box{
overflow:hidden;
height:auto;
display:block;
}
.box img{
max-width:100%
}
.portfolio-item .thumbnail{
margin:0;
position:relative;
}
.container h3{
    text-align: center;
}
.linear{
 transition:all 200ms linear;   
 -webkit-transition:all 200ms linear;   
 -moz-transition:all 200ms linear;   
 -ms-transition:all 200ms linear;   
 -o-transition:all 200ms linear;   
}
.thumb-img{
 position:relative;  
overflow:hidden;
background:#000;
}
.thumb-img img{
display:block;

-webkit-transform: scale(1,1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    -moz-transform: scale(1,1);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 250ms;  
}
.thumb-img:hover img, .link-attr:hover .thumb-img > img{
 -webkit-transform: scale(1.05,1.07);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    -moz-transform: scale(1.05,1.07);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 250ms;   
}
.thumb-img:hover img{
 opacity:0.7;   
}
.folio-img{
padding:15px 0;
}
.folio-caption{
 position:absolute;
 bottom:-58px;
 left:0;
background:#fff;
width:100%;
max-height:48px;
}
.folio-caption p{
 color:#1d2127;
 padding:15px;
 margin:0;
text-align:center;
font-size:18px;
}
.folio-caption i{
position: absolute;
top: -9px;
left: 50%;
font-size: 32px;
line-height: 9px;
margin-left: -9px;
color: #fff;
}
.portfolio-item {
  margin: 0;
  padding:0 0;
}
.main-folio{
 margin:0 auto;
 width:100%;
padding:40px 0;
position:relative;
overflow:hidden;
}
.container_folio{
margin:0 0 0 0;
padding:0 0 40px 0;
list-style:none;
width:100%;
clear:both;
position: relative;
overflow: hidden;
}

.col-md-12{
 clear:both;
}
.img-portfolio {
  margin: 0;
}

div.link{
visibility:hidden;
position:absolute;
top:0;
color:#fff;
font-size:14px;
}

.thumbnail {
border-radius: 0px;
}
.link-attr{
width:60%;
position:absolute;
top:50%;
left:50%;
transform: translate(-50%, -50%); 
-webkit-transform: translate(-50%, -50%); 
-moz-transform: translate(-50%, -50%); 
-ms-transform: translate(-50%, -50%); 
-o-transform: translate(-50%, -50%); 
text-align:center;
z-index: 88;

}
.link-attr a{

border:3px solid #fff;
-webkit-border-radius: 100%;
-moz-border-radius: 100%;
-o-border-radius: 100%;
border-radius: 100%;
width: 48px;
height: 48px;
background: transparent;
padding: 10px 12px;
color:#fff;
animation-duration: 750ms;
  -webkit-animation-duration: 750ms;
  -moz-animation-duration: 750ms;
  -ms-animation-duration: 750ms;
  -o-animation-duration: 750ms;
        animation-iteration-count: backwards;   
        -webkit-animation-iteration-count: backwards;   
        -moz-animation-iteration-count: backwards;   
        -ms-animation-iteration-count: backwards;   
        -o-animation-iteration-count: backwards;   
			-webkit-animation-delay: 500ms;
			-moz-animation-delay: 500ms;
			-ms-animation-delay: 500ms;
			-o-animation-delay: 500ms;
display:none;
}
.link-search{
position:absolute;
left:50%;
top:-24px;
margin-left:-55px;
}
.link-chain{
position:absolute;
right:50%;
top:-24px;
margin-right:-55px;
}
.link-attr a i{
font-size:21px;

}
/*=================contact====================*/
.main-contact{
 padding: 40px 0;
}


.contact-info p span{
width:24px;
height:24px;
text-align:center;
}
.contact-info .fa{
font-size:18px;
vertical-align:middle;
margin-right:20px;
}

.contact p{
font-size:18px;
margin:0;
padding:0 0 0 0;
}
.contact span{
border-radius: 100%;
-webkit-border-radius: 100%;
-moz-border-radius: 100%;
-ms-border-radius: 100%;
-o-border-radius: 100%;
border: 4px solid #7a7a7a;
width: 60px;
height: 60px;
text-align: center;
font-size: 36px;
line-height: 53px;
margin-bottom:20px;
}
.contact p a{
color:#7a7a7a;
}
.contact p a:hover{
text-decoration:none;
}
/* Footer */

footer {
color: #ffffff;
padding:10px 0;
}
.cp-right P{
margin:0;
padding:10px 0;
}
.cp-right P a{
 text-decoration:none;
}
.cp-right P a:hover{
color:#fff;
}
.top-scroll {
  margin: 0;
  padding:0;
}

.top-scroll a {
  text-decoration: none;
  color: inherit;
  display:block;
  font-size:92px;
  line-height:48px;
}
.top-scroll a:hover{
color:#fff;
}
i.scroll {
color: #fff;
position: absolute;
top: -15px;
left:50%;
margin-left: -28px;
}

i.scroll:hover {
color:#fff;
}


/* ========================================== Footer ======================================================= */
.list-inline{
text-align:right;
margin:0;
}
.list-inline > li {
display: inline-block;
padding-right: 10px;
padding-left: 10px;
}
.list-inline > li a i{
 vertical-align:middle;
 line-height: 41px;

}
.socIcon{
display:block;
color:#fff;
animation-duration: 750ms;
  -webkit-animation-duration: 750ms;
  -moz-animation-duration: 750ms;
  -ms-animation-duration: 750ms;
  -o-animation-duration: 750ms;
  -webkit-animation-delay: 1000ms;
    -moz-animation-delay: 1000ms;
    -ms-animation-delay: 1000ms;
    -o-animation-delay: 1000ms;
        animation-iteration-count: 1;   
        -webkit-animation-iteration-count: 1;   
        -moz-animation-iteration-count: 1;   
        -ms-animation-iteration-count: 1;   
        -o-animation-iteration-count: 1;  
}
.socIcon:hover{
color:#fff;
}
/* ========================================== modal ======================================================= */
body.modal-open{
margin-right: 0px !important;
 overflow:scroll ;   
}
/* ========================================== Responsive ======================================================= */



@media screen and (min-width:240px) and (max-width: 991px){
.cp-right, ul.list-inline{
 text-align:center;       
    }
i.scroll {
color: #fff;
position: relative;
top: 0;
left: 0;
margin-left: 0;
}
 .main-about img {
margin-right: 0;
}
.main-avatar{
margin-bottom:20px;
}
.about-content{
text-align:center;
}
.about-content p{
text-align:left;
}
}
@media screen and (min-width:768px) and (max-width: 991px){
.link-attr a {
width: 36px;
height: 36px;
padding: 5px 10px;
}
.link-attr a i {
font-size: 12px;
}
}
@media (min-width: 768px){
.navbar-nav {
float: none;}
}
@media screen and (min-width:768px) and (max-width: 1199px){
.folio-caption p{
font-size:12px;
}
}
@media screen and (min-width:240px) and (max-width: 767px){
ul.container_folio{
text-align:center;
}
    
 ul.container_folio li.box{
margin:0;
padding:0 15px;
width:100%;
max-width:380px;
display:inline-block;
float:none;
}   

.navbar ul.pull-right{
float:none !important;
}
.navbar-inverse .navbar-nav > li > a.btn, .navbar-inverse .navbar-nav > li span {
    display:none;
}

.navbar-toggle {
margin-top: 25px;
}

}
@media screen and (min-width:240px) and (max-width: 480px){
.contact p {
font-size:14px;
}
.link-attr a {
width: 36px;
height: 36px;
padding: 5px 10px;
}
.link-attr a i {
font-size: 12px;
}
}

@media screen and (min-width:768px) and (max-width: 1024px){
.logo img{

}
#flex-head h1{
font-size:48px;
}
#flex-head h2{
font-size:18px;
}
.main-caption .btn-clear, .main-about .btn-clear{
padding:8px 14px;
}

.title-page h2{
font-size:24px;
}
}


@media screen and (min-width:481px) and (max-width: 767px){
footer{
     margin-bottom:0;   
}
.logo img{
width: 15%;
}
#flex-head h1{
font-size:36px;
}
#flex-head h2{
font-size:14px;
padding:0 0 8px 0;
}
.main-caption .btn-clear, .main-about .btn-clear{
padding:8px 14px;
}
.title-page h2{
font-size:18px;
}
}
@media screen and (min-width:240px) and (max-width: 480px){
.logo img{
width: 15%;
}
#flex-head h1{
font-size:24px;
}
#flex-head h2{
font-size:14px;
padding:0 0 8px 0;
}
.main-caption .btn-clear, .main-about .btn-clear{
padding:6px 14px;
}
.title-page h2{
font-size:24px;
}
}
@media screen and (max-width: 767px) and (min-width: 240px){
.navbar-toggle {
margin-top: 10px;
}
.avatar{
     margin:0 auto;   
    }

}
.navbar-nav1 li{
    float: left;
}


.navbar-nav1 > li > a {
padding-top: 13px;
    padding-bottom: 13px;
    border-bottom: 5px solid transparent;
    font-size: 14px;
    text-transform: uppercase;
}

.navbar-inverse .navbar-nav1 > li > a {
color: #fff;
}
.navbar-nav1 > li.current > a {
text-decoration:none;
}
.navbar-nav1 > li.current > a, .navbar-inverse .navbar-nav1 > li > a:hover{
background:rgba(255,255,255,0.1);
border-bottom: 5px solid #f24971;
}

.product-info {
    outline: 3px solid whitesmoke;
    margin: 15px auto;
    padding: 20px;
    max-width: 950px;
}

.product-info h1 {
   
    text-align: center;
    outline: 3px solid whitesmoke;
    margin: 5px auto;
}

.info-left {
    width: 40%;
    float: left;
   
}

.info-right {
    width: 58%;
    float: right;
    
}

.clear {
    margin: 10px;
    clear: both;
}

.info-img {
    margin: 5px;
    width: 90%;
}
.info-type {
    width:50%;
    margin: 5px auto;
}

.info-description {
    outline: 2px solid #e5bae4;
    width: 90%;
    min-height: 150px;
    margin:10px auto;
}

.info-price {
    text-align: center;
    margin: 20px;
}
p a .fa-shopping-cart{
    color: #ad3f82;
    top: 40%;
    left: 73%;
    margin: 0;
    padding: 0;
    font-size: 41px;
}

p a .fa-shopping-cart:hover { 
text-shadow: 1px -1px 3px yellow;
    font-size: 43px;
}


.del-item {
    cursor: pointer;
}

.cart-img {
    position: relative;
    right: 20px;
    left: 30px;
}
.cart-img img {
    height: 50px;
}

.add-to-cart:hover {
    cursor: pointer;
    text-decoration: none;
}

.addCart {
    width: 300px;
    height: 20px;
    background: #f24971;
    margin: 20px;
    padding: 15px 30px;
    border: 2px solid #b6baef;
    border-radius: 57px;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
}

.addCart:hover {
    border: 2px solid #d7ce35;
    background: #ab485f;
    color: #e0cdcd;
}

.link-add {
    margin: 20px auto;
    width: 300px;
}

.box-100 {
    min-height: 100%;
}

.logout {
   float: left;
    margin: 15px 10px 0 20px;
}

.emily-order-index {
    width: 80%;
    margin: 5px auto;
}

.drop-nav li{
   
    list-style-type: none;
   
}

.enter-admin {
   float: right;
   margin: 0 0 0 30px;
}

.emily-order-view {
    width: 80%;
    margin: 5px auto;
}

.table_photo{
   text-align: center;
}

.menu-product {
   display: none;
    position: absolute;
    
}

ul.menu-product a{
    margin: 15px;
    text-decoration: none;
}

ul.menu-product  {
    padding: 0;
    background: #dce5d7;
     list-style: none;
     border-bottom: 5px solid transparent;
}

ul.menu-product:hover {
    border-bottom: 5px solid #f24971;
    
}

.menu-product a {
   
    padding-top: 13px;
    padding-bottom: 13px;
    border-bottom: 5px solid transparent;
    font-size: 14px;
    text-transform: uppercase;
}



.menu-product a:hover {
    color: #a10589;
    font-weight: bold;
   
}

.mainmenu ul li:hover ul.menu-product {
    display: block;
}

.field-emilyofficenp-description {
    display: none;
}

.admin-navigation {
    width: 800px;
    height: 400px;
    margin: 20px auto;
    padding: 10px;
    text-align: center;
}

.admin-navigation a {
    width: 400px;
    height: 40px;
   
    margin: 10px 20px;
}

.login-button {
    width: 120px;
}

.auth-soc {
    margin: 20px;
    width: 300px;
    padding: 10px;
}

.site-login {
   width: 900px;
   margin: 10px auto;
}

.blog {
    float: right;
    margin: 0 20px;
}

.blog-page {
    min-height: 500px; 
    margin: 10px;
}

.blog-info {
    width: 80%;
    margin: 5px auto;
    outline: 1px solid gray;
    text-align: center;
}

.btitle {
    border-bottom: 1px solid gray;
}
.blink {
    width: 70%;
    border: 1px solid grey;
    margin: 10px auto;
    padding: 5px;
}

.hlink a {
    font-size: 20px;
    text-decoration: none;
}
.hlink a:hover {
    font-size: 21px;
    color: #a10589;
}
.hlink {
    border-bottom: 1px dashed #734d99;
}

.blog-title {
    border-bottom: 1px dashed #734d99;
    margin: 5px;
}

.blog-text {
    width: 80%;
    margin: 10px auto;
}

.blog-text a {
    color: #7a7a7a;
}